# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node / Angular / Ionic
node_modules/
dist/
www/
coverage/
.angular/
.tmp/
*.log

# Env
.env
.env.*
*.local

# Capacitor / Cordova
android/
ios/
platforms/
plugins/

# Build artifacts
*.map

# Delphi/legacy basura si alguien mete el proyecto viejo
*.dcu
*.~*
*.ddp
*.local